:root {
  --primary-color: #5a7783;
  --secondary-color: #0e2d3b  ;
  --font-color: #091d26;
  --bg-color: #e7eced;
  --heading-color: #0b242f;
}

[data-theme="dark"] {
  --primary-color: #a1b1b8;
  --secondary-color: #a1b1b8;
  --font-color: #e7eced;
  --bg-color: #091d26;
  --heading-color: #a1b1b8;
}

body {
  font-family: Arial;
  font-size: 120%;
  background-color: var(--bg-color);
  color: var(--font-color)
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: var(--secondary-color);
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: var(--bg-color) ;
  border-radius: 5px;
  border-color: var(--font-color);
  padding: 2px 10px;
  color: var(--font-color);
  border: 2;
  transition: background-color 0.1s;
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--bg-color);
  border-color: var(--secondary-color);
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: var(--bg-color);
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.scores {
  position: absolute;
  top: 7vh;
  left: 1vw;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: var(--secondary-color);
  border-top: 2px solid var(--secondary-color);
}

.timer {
  position: absolute;
  top: 1vh;
  /* left: 45%; */
  font-size: 3rem;
  margin-left: auto;
  margin-right: auto;
  /* align-self: center; */
}


/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 1vh;
  right: 1vw;
}
.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 45px;
  margin-top: 5px
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: var(--secondary-color);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: var(--bg-color);
  bottom: 2px;
  content: "";
  height: 16px;
  left: 2px;
  position: absolute;
  transition: .4s;
  width: 16px;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dark-mode-text {
  font-size: 0.7rem;
  margin-right: 5px;
  font-style: italic;
}